.order-div{
    padding-bottom: 25px;
    font-size: 125%;
    padding-left: 25px;
    border: 2px dotted #e1e1d0 ;
    margin-top: 25px;
    margin-bottom: 25px;
}

.order-div img{
    width: 2%;
}

.order-div a{
    margin-left: auto;
    margin-right: 30px;
}
.account-status{
    padding: 25px;
    background-color: #e1e1d0;
    border-radius: 15px;
    margin-bottom: 35px;
}

.price{
    font-size: 200%;
}