.header {
    margin: 0;
    text-align: left;
    color: white;
}
.header-normal {
    display: flex;
    align-items: baseline;
}

ul.header-normal li:nth-child(4) {
    margin-left: auto;
}

.my-header{
    background-color: #003399;
}
.header li { display: inline; padding-right: 25px; padding-top: 5px; padding-bottom: 5px; }

.header-normal li a{
    text-decoration: none;
    padding-right: 10px;
    padding-left: 5px;
    color: white;
    font-size: 14pt;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.header-normal li a:hover{
    color: #ff6699;
}