.jumbotron {
    margin-bottom: 0;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
    margin-top: 25px;
}
p, th, td{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #003399;
}
