.navcontainer {
    margin: 0;
    text-align: left;
    padding-top: 7px;
    padding-bottom: 7px;
}
.my-container{
    background-color: #003399;
    margin-bottom: 25px;
}
.navcontainer li { display: inline;  }

.normal li a{
    text-decoration: none;
    padding-right: 10px;
    padding-left: 5px;
    color: white;
    font-size: 14pt;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.normal li a:hover{
    color: #b30000;
}