.types-menu{
    background-color: #003399;
    border-radius: 20px;
    padding-bottom: 15px;
    padding-right: 45px;
    padding-top: 15px;
    width: 230px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}

.search-menu{
    background-color: #f2f2f2;;
    border-radius: 20px;
    padding: 20px;
    width: 230px;
    margin-bottom: 35px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}

.types-menu li{
    list-style: none;
}

.types-menu li a{
    text-decoration: none;
    padding-right: 10px;
    color: white;
    font-size: 14pt;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.types-menu li a:hover{
    color: #ff6699;
}