.mydiv{
    margin: 50px;
    background-color: #f2f2f2;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
    padding: 25px;
}

.mydiv img{
    height: 30%;
    width: 20%;
    margin-right: 25px;
}