.account-status{
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 50px;
    margin-left: 50px;
    width: 40%;
    border: 2px solid lightgray;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.form-button{
    margin-left: 75px;
}

.form-label{
    margin-left: 75px;
}
.form-input{
    margin-left: 75px;
    margin-bottom: 25px;
    width: 60%;
}
p, label{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1,h2,h3,h4, legend{
    font-family: "Comic Sans MS", cursive, sans-serif;
}