/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
}
/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
    margin-top: 25px;
}
p, th, td{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1,h2,h3,h4{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #003399;
}
